@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */
:root {
    /* Color */
    --color-white: #fff;
    --color-black: #000;
    --color-green: #2c5234;
    --color-red: #8C1E28;
    --color-beige:#efefe5;
    --color-lightbeige:#f7f7ee;
    --color-grey1: #f0f0f0;
    --color-grey2: #eee;
    --color-grey3: #ccc;
    --color-grey4: #999;
    --color-grey5: #666;
    --color-grey6: #444;
    --color-grey7: #222;
    --color-grey8: #333;
  
    /* Font size */
    --font-large: 80px;
    --font-medium: 33px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    --font-super-micro: 10px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Animation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    text-decoration: none;
    list-style: none;
  }
  body {
    position: relative;
    font-family: "Poppins", sans-serif;
    overflow-x:hidden;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  a:hover,
  a:active,
  a:visited,
  a:focus {
    color:var(--color-grey8);
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  /* Typography  */
  h1 {
    font-size: 5rem;
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: 2.0625rem;
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-micro);
    margin: 4px 0;
    letter-spacing: .00399rem;
    line-height:1.25rem;
  }
  ul {
    list-style: none;
  }
  .font-selif {
    font-family: "Noto Serif", serif;
    font-weight:normal;
  }
  .wrapper {
    max-width: 1420px;
    margin: 0 auto;
  }
  .wrapper-small {
    max-width: 1280px;
    margin: 0 auto;
  }
  .wrapper-footer {
    max-width: 960px;
    margin: 0 auto;
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10%);
    }
  }